
{%load static%}
<html>
    <head>
        <link type="text/CSS" href="{%static 'css/css_profile.css'%}" rel="Stylesheet" />
    </head>
    <body>
        <h1>{{header}}</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>DETAILS</th>
                </tr>
            </thead>
            <tbody>
            {%for person in persons%}
                <form method="post">
                    {%csrf_token%}
                    <tr>
                        <td>
                            <input type="hidden" name="person_id" value="{{person.id}}">
                            <input type="hidden" name="person" value="{{person}}">
                            <input type="submit" value = "DEL" name="del">
                            {{forloop.counter}})   
                        </td>
                        <td>{{person}}</td>
                    </tr>
                    </form>
            {%endfor%}
            {%if header == 'WORKERS'%}
            <form method= "get">
            <tr>
                <td colspan = 3><button  name="add">ADD {{header}}</button></td>
            </tr>
            </form>
            {%endif%}
            </tbody>
        </table>
    </body>
</html>