{%extends 'partials/base.html'%}
{%load static%}
{%block content%}
    <form >
        ID: <input type = "text" name="identication"> NAME:<input type = "text" name="name"> AUTHOR:<input type = "text" name="author">
       PUBLISHED YEAR:<input type = "number" name="published_year"> TYPE:<input type = "number" name="book_type">
       <br><br>
       <button name="search">SEARCH</button> <button name="reset">RESET</button>
       {% if errors%}
         {{errors}} 
       {%endif%}
    </form>
    <hr>
    <br><br><br>
    {%for book in books%}
       {{forloop.counter}})    {{book}}<br><br>
    {%endfor%}
{%endblock%}