{% extends 'partials/base.html' %}

{% block content %}

    <h1> SignIN </h1>
    <form method = 'get' novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <button type = 'submit' name = "SignIn"> SignIN </button> <button type="sumbit" name="SignUp">SignUp ?</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
         <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content%}