{%for field in profile%}
    {%if 'Country' in field%}
        <p><b>Country: {{country_to_show}}</b></p>
    {%else%}
        <p><b>{{field}}<b></p>
    {%endif%}
{% endfor %}
<br>
<div>
    {%if user.is_staff%}
        <a href="{%url 'Home_staff'%}" style='padding : 10px'> HOME </a> 
    {%else%}
        <a href="{%url 'Home_visitors'%}" style='padding : 10px'> HOME </a> 
    {%endif%}
    <a href="{%url 'update-profile'%}" style='padding : 10px'> UPDATE PROFILE </a> 
    <a href = "{%url 'logout'%}" style='padding : 10px'>LOG-OUT</a></div>

