{%extends 'partials/base.html'%}
{%load static%}
{%block content%}
    <form >
        ID: <input type = "text" name="identication"> NAME:<input type = "text" name="name"> AUTHOR:<input type = "text" name="author">
       PUBLISHED YEAR:<input type = "text" name="published_year"> TYPE:<input type = "text" name="book_type">
       <br><br>
       <button name="search">SEARCH</button> <button name="reset">RESET</button> <button name="add">ADD</button>
       {% if errors%}
         {{errors}} 
       {%endif%}
    </form>
    <hr>
    <br><br><br>
    {%for book in books%}  
       <form method="post">
        {%csrf_token%}
        <input type="hidden" name="book" value = "{{book.identication}}">
        <button name = 'del'>DEL</button> {{forloop.counter}})    {{book}}<br><br>
      </form>
    {%endfor%}
{%endblock%}